<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ближе к звездам</title>
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<section id="intro" style="background: url({% static 'news/img/mks.jpg' %}), no-repeat; background-size: cover;">
    <div class="container con-intro">
        <header>
            <div id="in_header">
                <div class="left-header">
                    <a href="{% url 'home' %}" class="logo">Ближе к <span class="red_logo">ЗВЕЗДАМ</span></a>
                </div>
                <div class="right-header">
                    <a href="{% url 'add_news' %}" class="offer_news">Предложить новость</a>
                    <a href="{% url 'home' %}" class="all_news">Все новости</a>
                </div>
            </div>
        </header>
        <div id="intro-news">
            {% for item in news %}
            {% if forloop.counter == 1 and item.is_published == True %}
            <a id="left-intro-news" href="{% url 'article' item.pk %}"
               style="background: url({{ item.intro_picture.url }});background-repeat: no-repeat;background-position: center;background-size: cover;">
                <div id="about-left-news" style="width: 100%">
                    <div id="name-left-news">{{ item.title }}</div>
                    <div id="content-left-news">{{ item.content|truncatewords:40 }}
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            <div id="right-intro-news">
                <div id="name-block-intro-right">
                    Новости дня
                </div>
                <div id="all-day-news">
                    {% for item in news %}
                    {% if forloop.counter > 1 and forloop.counter <= 5 and item.is_published %}
                    <a href="{% url 'article' item.pk %}" class="day-news">
                        <div class="name-day-news">{{ item.title }}</div>
                        <div class="content-day-news">{{ item.content|truncatewords:15 }}</div>
                        <div class="info">{{ item.created_at|date:'d.m.Y H:i' }}</div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<section id="all-news">
    <div class="container">
        <div id="name-all-news">Все новости:</div>
        {% for item in news %}
        {% if item.is_published %}
        <a href="{% url 'article' item.pk %}" class="news-in-all-news">
            <div class="img-all-news"
                 style="background: url({{ item.intro_picture.url }}); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
            <div class="about-all-news">
                <div class="name-all-news">{{ item.title }}</div>
                <div class="content-all-news">
                    {{ item.content|truncatewords:45 }}
                </div>
                <div class="info-all-news">{{ item.created_at|date:'d.m.Y H:i' }}</div>
            </div>
        </a>
        {% endif %}
        {% empty %}
        <div style="display: flex; align-items: center;">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/astronaut-with-moon-rover-4239878-3527325.png"
                 alt="" srcset="" width="250px">
            <span style="font-size: 24px; font-weight: 500;">Сейчас починим и полетим</span>
        </div>

        {% endfor %}
    </div>
</section>
<footer>
    <div class="container">
        <div id="in-footer">
            <a href="#" class="logo">Ближе к <span class="red_logo">ЗВЕЗДАМ</span></a>
            <a href="#">Предложить новость</a>
            <a href="mailto:adndigolubenko@yandex.ru">adndigolubenko@yandex.ru</a>
        </div>
    </div>
</footer>
</body>
</html>